body.modal-open {
  overflow: hidden !important; /* 禁用背景滾動 */
}

main {
  margin-top: 68px;
}

#youtube-player {
  height: 810px;
}

.small-text {
  font-size: 0.8rem;
}

.gray {
  color: gray;
}

.dir {
  position: relative;
}

.main-title {
  position: absolute;
  bottom: 28rem;
  left: 0;
  font-size: 10rem;
  margin-bottom: 1rem;
  transition: all 1s ease-in-out;
  text-align: start;
}

.zoom-out {
  margin-top: 15rem;
  font-size: 5rem;
  bottom: 19rem;
}

.main-release-day {
  position: absolute;
  bottom: 27rem;
  left: 0;
  opacity: 1;
  height: auto;
  text-align: left;
  margin: auto;
}

.main-overview {
  position: absolute;
  bottom: 22rem;
  left: 0;
  opacity: 1;
  width: 600px;
  height: auto;
  text-align: left;
  margin: 0;
}

.hidden {
  margin: 0;
  animation: shrinkFadeOut 1s forwards; /* 啟用動畫 */
}

.buttons {
  position: absolute;
  left: 0;
  bottom: 18rem;
  margin-top: 1.5rem;
  text-align: start;
}

@keyframes shrinkFadeOut {
  0% {
    transform: translate(0, 0); /* 初始位置和大小 */
    opacity: 1; /* 完全不透明 */
  }
  100% {
    transform: translate(-80%, 80%) ; /* 向左下移動並縮小 */
    opacity: 0; /* 完全透明 */
  }
}